@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Merriweather&family=PT+Sans&family=Poppins:ital,wght@1,600&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Mono', monospace;
  font-family: 'Merriweather', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #7C4E29;
  background-color: #eeeeee;
}

.hidden {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  background-color: #7C4E29;
  margin-bottom: 1.5em;
  min-width: 600px;
}

#nav-pad {
  width: calc(50% - 320px);
  min-width: 2.5%;
}

#nav-logo{
  width: 11em;
  padding: .25em;
}

#gh-logo{
  width: 2.2em;
  padding: .2em;
  left: 800px;
}

.to-right {
  margin-left: auto;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: .5em;
  padding-left: 1.5em;
  padding-right: 0;
  color: #E6B17E;
  font-size: 1rem;
}

#page {
  width: 95%;
  margin: auto;
  max-width: 640px;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#E6B17E;
  background:#7C4E29;
  padding:8px;
  text-align: center;
}

#description {
  width: 400px;
}

#name {
  width: 200px;
}


.btn-primary {
  background-color: #7C4E29;
  border-color: #7C4E29;
  margin-top: .25rem;
}

.btn-primary:hover {
  background-color: #E4AF7D;
  border-color: #7C4E29;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(00px, auto);
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 1;
  grid-row: 2;
}
.five {
  grid-column: 2;
  grid-row: 2;
}
.six {
  grid-column: 3;
  grid-row: 2;
}

.splash-image {
  width: 100%;
  border: 4px solid #7C4E29;
  border-radius: 10px;
}

.splash-text {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}

.splash-text a {
  text-decoration: none;
  color:#7C4E29;
}

.dropdown-label {
  width: 4rem;
  text-align: left;
  margin-right: 5px;
}
.dropdown {
  width: 12rem;
  text-align: left;
}

.plus {
  width: 1.25rem;
}

.plus:hover {
  cursor:pointer;
}

 input:valid + span::after {
  content: "✓";
  padding-left: 5px;
  color: #009000;
 }

 input:invalid + span::after {
  content: "✖";
  padding-left: 5px;
  color: #8b0000;
}

#Email {
  width: 30rem;
}


.text-input {
  border-radius: 6px;
  border-color: #7C4E29;
  font-size: 1.5rem;
  padding-left: calc(0.5rem - 3px);
  margin-top: .5rem;
}

::placeholder {
  opacity: 0.4;
  color: #7C4E29;
}