@{
  Layout = "_Layout";
}

<h1>Welcome Claire!</h1>
<hr/>
<br>
<br>
<div class="wrapper">
  <div class="one"><a href="/appointments/"><img src="~/assets/images/calendar.png" class="splash-image"></a></div>
  <div class="two"><a href="/clients/"><img src="~/assets/images/heads.png" class="splash-image"></a></div>
  <div class="three"><a href="/stylists/"><img src="~/assets/images/apron.png" class="splash-image"></a></div>
  <div class="four splash-text"><a href="/appointments/">Appointments</a></div>
  <div class="five splash-text"><a href="/clients/">Clients</a></div>
  <div class="six splash-text"><a href="/stylists/">Stylists</a></div>
</div>